
.zci--answer  .publicdns .record__cell__key {
    font-family: Consolas,"Anonymous Pro",Anonymous,"Courier New",monospace;
}

.zci--answer .publicdns td {
    white-space: nowrap;
	padding-right: 1em;
}

.zci--answer .publicdns th {
    text-align: center;
}
